.home {
    text-align: center;
    margin-top: 13%;
  }
  
  .home button {
    position: relative;
    margin-right: 40px;
    margin-left: 40px;
    width: 120px;
    height: 80px;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .home button:hover {
    color: #af6967;
    background-color: #cfd8dc;
  }
  