<div class = "anniu">
<button (click)="getClockIn()">打卡信息</button>
<button (click)="get_qingjiaok()">请假信息</button>
</div>

<div class="user-item-container">
  <table class ="table table-bordered">
    <thead>
      <tr *ngFor = "let clockin of  clockin">
      <th>打卡信息</th>
      <th>最近打卡日期：{{clockin.clockDate}}</th>
      </tr>

      <tr>
        <th>请假id</th>
        <th>请假申请结果</th>
        <th>部门经理反馈</th>
        <th>副总经理反馈</th>
        <th>总经理反馈</th>
      </tr>
    </thead>
    <thead>
      <tr *ngFor = "let qingjiaok of  qingjiaok">
        
        <th>{{qingjiaok.OutId}}</th>
        <th>{{qingjiaok.askState}}</th>
        <th>{{qingjiaok.firstApprovalOnponion}}</th>
        <th>{{qingjiaok.secondApprovalOnponion}}</th>
        <th>{{qingjiaok.lastApprovalOnponion}}</th>
      </tr>
    </thead>
  </table>
 </div>

 <div class = "anniu">
<button (click)="getClockIn()">打卡信息</button>
<button (click)="get_waichuok()">外出信息</button>
</div>

 <div class="user-item-container">
    <table class ="table table-bordered">
      <thead>
         <tr *ngFor = "let clockin of  clockin">
      <th>打卡信息</th>
      <th>最近打卡日期：{{clockin.clockDate}}</th>
      </tr>

         <tr>
          <th>外出id</th>
          <th>外出申请结果</th>
          <th>部门经理反馈</th>
          <th>副总经理反馈</th>
          <th>总经理反馈</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let waichuok of waichuok">
          <td>{{waichuok.OutId}}</td>
          <td>{{waichuok.askState}}</td>
          <td>{{waichuok.firstApprovalOnponion}}</td>
          <td>{{waichuok.secondApprovalOnponion}}</td>
          <td>{{waichuok.lastApprovalOnponion}}</td>
        </tr>
      </tbody>
    </table>
   </div>

<div class = "fankui">
<div >
  <p style = "text-decoration:line-through">请假申请：</p>
  <input type="text" class="a-upload" [(ngModel)]="saveout" placeholder="请假时间，原因及申请时间" >
  <button (click)="saveDate_qingjia()" >提交</button>
</div>

<div >
  <p style = "text-decoration:line-through">外出申请：</p> 
  <input type="text" class ="a-upload" [(ngModel)]="saveleave" placeholder="外出时间，原因，及申请时间" >
  <button (click)="save_waichu()" >提交</button>
</div>


</div>
