<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
	   <div class="input">
       <div>
         <input placeholder="编号" class="btnInput" #id />
       </div>
       <div>
         <input placeholder="请假编号" class="btnInput" #bid />
      </div>
      <div>
        <input placeholder="名称" class="btnInput" #bname />
      </div>
      <div>
        <input placeholder="请假时间" class="btnInput" #stime />
      </div>
      <div>
        <input placeholder="请假天数" class="btnInput" #number />
      </div>
     </div>
      <div class="button">
           <button (click)="add(id.value,bid.value,bname.value,stime.value,number.value);
           id.value='';bid.value='';bname.value='';stime.value='';number.value=''">
                同意
           </button>
      </div>
      <div class="tip">
        {{tip}}
      </div>
	</body>
</html>
